body {
	margin: 20px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(24,24,24);

}

.code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.container{
width: 100%;
	margin: 15px 0px;
	color: white;
}

.header-container h1{

font-size: 25px;	
text-align: center;
}

.hr{

	height: 1px; 
	color: rgb(46, 43, 43); 
	background-color: rgb(56, 53, 53); 
	border: none; 
	margin: -9px 0 -18px 0;
	
}

.album-container{

	display: grid;
	grid-template-columns: repeat(1, 0fr);
	grid-template-rows: 1fr;
	grid-gap: 1px ;
	align-items: center;
	justify-content: center;
	margin: 15px 0px;
	
	
	
}

.albums{

	margin: 15px 0;

}



/* Text styling */


.AlbumTextContainer{
	display: flex;
	
	flex-direction: column;
  height: 65px;
  text-decoration: none;

}


.AlbumTitle{
  margin: 2px 0;
  font-size: 18px;

  flex-direction: row;
  display: inline-block;
}

.AlbumTitle:hover{
  text-decoration: underline;

	
}

.ArtiistName{
	
	margin: 2px 0;
	font-size: 15px;
	flex-direction: row;
	height: 50px;
	white-space: wrap;
	overflow: hidden; 
	display: inline-block;
	

}
.ArtiistName:hover{
text-decoration: underline;
	
	
	}

.link{

  color: white;

}



/* IMG -Styling */

.img-container{

	position: relative;

}

.albums img{
	display: block;	
	width: 440px;
	
}
.albums img:hover{

	width: 440px;
	

}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 440px;
	width: 440px;
	opacity: 0;
	transition: .5s ease;
	background-color: #000000bb;
	fill: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  }
  
 .overlay:hover {
	opacity: 1;
	fill: white;
  }


/*  ICON */


.logoTypeHeart{
width: 50px;
opacity: 50%;

}

.logoTypePlay{
width: 100px;
margin: 0 30px;
opacity: 50%;


}

.logoTypePlay:hover{
	width: 100px;
	margin: 0 30px;
	opacity: 100%;
	transform: scale(125%);
	}

.logoTypeDot{
	width: 50px;
	opacity: 50%;
	
	}

.logoTypeDot:hover, .logoTypeHeart:hover{
		
		opacity: 100%;
	
		}




/* Desktop */

@media (min-width: 1025px) {
	

	.header-container h1{

		font-size: 25px;	
		text-align: left;
		}

	.album-container{
		
		grid-template-columns: repeat(4, 0fr);
		grid-template-rows: 1fr;
		grid-gap: 15px ;
		margin-top: 30px;
		justify-content: space-between;
		
		
	}
	
	
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1024px){



	.header-container h1{
width: 768px;
		font-size: 25px;	
		text-align:left;
		margin-left: -15px;
		
		
		}


	.album-container{
	width: 768px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		grid-gap: 15px;
		padding: 0 50px;
		
	}


}